@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root{
    --color-verde-especial:#1cb698;
    --texto-blanco:#fff;
    --fuente-texto-principal:'Righteous';
    --ancho-maximo-body:1200px;
}

html{
    font-size: 16px;
}



header{
    background-color: #1e2326;
    position: fixed;
    width: 100%;
}

.content-header{
    
    max-width:var(--ancho-maximo-body);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.7rem;
    padding: 0 18px;
    
}

.content-header .logo a{
    text-decoration: none;
    color: var(--color-verde-especial);
    font-family: var(--fuente-texto-principal);
    font-size: 2.1rem;
}

.content-header nav ul{
    display: flex;
    gap: 2.4rem;

}

.content-header nav ul li{
    list-style: none;
}

.content-header nav ul li a{
    text-decoration: none;
    color: var(--texto-blanco);
    transition: all ease-in 0.2s;
}

.content-header nav ul li a:hover{
    color: var(--color-verde-especial);
}

/*--- portada --- */
.card-portada{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to top, rgba(30, 35, 38, 0.8),rgba(30, 35, 38, 1)), url(./img/fondo-portada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-portada .card-info{
    background-color: #1e2326;
    width: 21rem;
    height: 36rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.card-portada .card-info figure img{
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    padding: 0.7rem;
    background-color: var(--color-verde-especial);
}

.card-portada .card-info h1{
    font-family: var(--fuente-texto-principal);
    font-size: 2.7rem;
    color: var(--texto-blanco);
    width: 18rem;
}

.card-portada .card-info p{
    color: var(--texto-blanco);
    font-size: 1rem;
    width: 18rem;
    padding-bottom: 30px;
}

.card-portada .card-info .content-links-sociales{
    width: 17rem;
    display: flex;
    justify-content: space-between;
}

.card-portada .card-info .content-links-sociales a img{
    width: 2.5rem;
    height: 2.5rem;
    filter: invert(0);
    transition: all ease-in 0.2s;
    border-radius: 50%;
    
}

.card-portada .card-info .content-links-sociales a img:hover{
    background-color: var(--color-verde-especial);
    
}



/*------ about me -----*/

.content-about-gen{
    background-color: #1e2326;
    padding: 4rem 0; 
}

.content-about-gen .content-about-me-inf{
    color: var(--texto-blanco);
    max-width: var(--ancho-maximo-body);
    margin: 0 auto;
    width: 96%;
}

.content-about-gen .content-about-me-inf .ctn-abt-titulo h2{
    font-family: var(--fuente-texto-principal);
    font-size: 3rem;
    text-align: center;
    padding-bottom: 1.2rem;
}

.content-about-gen .content-about-me-inf .ctn-abt-titulo p{
    font-size: 1rem;
    line-height: 1.3rem;

}

.content-about-gen .content-about-me-inf .ctn-abt-titulo p span{
    color: var(--color-verde-especial);
    font-weight: bold;
    
}

.content-abt-bloqs{
    display: flex;
    padding: 3rem 0;
    
}

.info-contacto{
    width: 45%;
}

.info-contacto h3{
    font-family: var(--fuente-texto-principal);
    font-size: 1.6rem;
    padding-bottom: 1.5rem;
}

.info-contacto ul li{
    list-style: none;
    line-height: 2rem;
}

.info-contacto ul li strong{
    color: var(--color-verde-especial);
    display: inline-block;
    margin-right: 2rem;
    width: 6rem;
}

.info-contacto ul li span{
    background-color: #1cb698;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.1rem 0.3rem;
    border-radius: 3px;
}

.info-intereses{
    width: 50%;
}

.info-intereses h3{
    font-family: var(--fuente-texto-principal);
    font-size: 1.6rem;
    padding-bottom: 1.5rem;
}

.info-intereses .card-int{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.info-intereses .card-int .card{
    background-color: #252a2e ;
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all ease-in 0.2s;
    border-radius: 1rem;
}

.info-intereses .card-int .card img{
    width: 2.5rem;
    height: 2.5rem;
    
}

.info-intereses .card-int .card h4{
    padding: 0.7rem 0;
}

.info-intereses .card-int .card:hover{
    background-color: #1cb698;

}

.content-cv .link-cv{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.7rem;
    width: 12rem;
    border: solid rgb(255, 255, 255);
    position: relative;
    
}

.content-cv .link-cv a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: var(--texto-blanco);
    transition: all ease-in 0.2s;
}

.content-cv .link-cv a img{
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    
}

.content-cv .link-cv a:hover{
    background-color: #1cb698;
}

/*---- skills ------*/

.content-skills{
    background-color: #252a2e;
    color: var(--texto-blanco);
    padding-bottom: 3rem;
}

.content-skills h2{
    text-align: center;
    font-family: var(--fuente-texto-principal);
    font-size: 3rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.content-skl-inf-dtl{
    display: flex;
    max-width: var(--ancho-maximo-body);
    margin: 0 auto;
    width: 96%;
}

.content-skl-inf-dtl .group-skl{
    flex: 45%;
    margin: 0 1rem;
    
}

.content-skl-inf-dtl .group-skl h3{
    font-size: 1.5rem;
    font-family: var(--fuente-texto-principal);
    padding-bottom: 1.5rem;
}

.line-fond{
    background-color: #131517;
    display: flex;
    margin-top: 0.8rem;
    margin-bottom: 2.3rem;
    width: 85%;
}

.line-sbr{
    background-color: #1cb698;
    
    height: 0.5rem ;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 0 10px 10px 0;
}

.line-pr-w1{
    width: 75%;
}

.line-pr-w2{
    width: 89%;
}

.line-pr-w3{
    width: 95%;
}

.line-pr-w4{
    width: 81%;
}

.line-pr-w5{
    width: 55%;
}

.line-pr-w6{
    width: 80%;
}

.line-pr-w7{
    width: 70%;
}

.line-pr-w8{
    width: 99%;
}

.line-pr-w9{
    width: 65%;
}

.line-pr-w10{
    width: 94%;
}

.burbuja-cent{
    background-color: #1cb698;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------ cv --------*/

.content-cv{
    background-color: #1e2326;
    color: var(--texto-blanco);
    padding-bottom: 3rem;
}

.content-cv h2{
    text-align: center;
    font-family: var(--fuente-texto-principal);
    font-size: 3rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.grp-cv-inf{
    display: flex;
    max-width: var(--ancho-maximo-body);
    margin: 0 auto;
    width: 92%;
    justify-content: space-between;
}

.grp-cv-inf .cards-inf-dtl{
    border-right: solid rgba(91, 91, 91, 0.212);
    width: 49%;
}

.grp-cv-inf .cards-inf-dtl h3{
    font-size: 2rem;
    padding-bottom: 2rem;
}

.bloque-all-cv-ctn-a{
    display: flex;
    width: 100%;
    
}

.card-cv-inf-dt{
    background-color: #252a2e;
    width: 90%;
    margin-bottom: 2rem;
}

.card-cv-inf-dt .detail-info-ctn{
    padding: 1.4rem;
    border-right: solid var(--color-verde-especial);
}

.card-cv-inf-dt .detail-info-ctn h4{
    font-size: 1.3rem;
    padding-bottom: 0.4rem;
}

.card-cv-inf-dt .detail-info-ctn h5{
    font-size: 1.5rem;
    color: var(--color-verde-especial);
}

.card-cv-inf-dt .detail-info-ctn h6{
    font-size: 1rem;
    color: var(--color-verde-especial);
    padding-bottom: 0.7rem;
}

.card-cv-inf-dt .detail-info-ctn span{
    line-height: 1.5rem;
}

/*-- segundo bloque --*/

.cards-inf-dtl-position{
    border-left: solid rgba(91, 91, 91, 0.212);
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.content-cv-titulo-pr{
    width: 95%;
}

.grp-cv-inf .cards-inf-dtl-position h3{
    font-size: 2rem;
    padding-bottom: 2rem;
}

.bloque-all-cv-ctn{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.card-cv-inf-dt-p{
    background-color: #252a2e;
    margin-bottom: 2rem;
    width: 90%;
}

.content-spacing-cv{
    width: 10%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.spacing-1{
    border-bottom:#1cb698 solid;
    width: 100%;
    height: 50%;
}

.spacing-2{
    border-top:#1cb698 solid;
    width: 100%;
    height: 50%;
}

.card-cv-inf-dt-p .detail-info-ctn-p{
    padding: 1.4rem;
    border-left: solid var(--color-verde-especial);

}

.card-cv-inf-dt-p .detail-info-ctn-p h4{
    font-size: 1.3rem;
    padding-bottom: 0.4rem;
}

.card-cv-inf-dt-p .detail-info-ctn-p h5{
    font-size: 1.5rem;
    color: var(--color-verde-especial);
}

.card-cv-inf-dt-p .detail-info-ctn-p h6{
    font-size: 1rem;
    color: var(--color-verde-especial);
    padding-bottom: 0.7rem;
}

.card-cv-inf-dt-p .detail-info-ctn-p span{
    line-height: 1.5rem;
}

.content-spacing-cv {
    display: flex;
}


/*----portfolio----*/

.content-portfolio{
    background-color: #252a2e;
    color: var(--texto-blanco);
}

.content-portfolio h2{
    text-align: center;
    font-family: var(--fuente-texto-principal);
    font-size: 3rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    
}

.content-cards-dtl-po{
    display: flex;
    max-width: var(--ancho-maximo-body);
    margin: 0 auto;
    width: 92%;
    justify-content: space-around;
}

.cards-pto{
    margin: 0 auto;
}

.card-ptd-gr{
    width: 25rem;
    height: 20rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.background-card-pfl-1{
    background-image: url(./img/html-css-1.png);
}

.background-card-pfl-2{
    background-image: url(./img/figma-2.png);
}

.background-card-pfl-3{
    background-image: url(./img/figma-3.png);
}

.background-card-pfl-4{
    background-image: url(./img/figma-4.png);
}

.background-card-pfl-5{
    background-image: url(./img/figma-5.png);
}

.background-card-pfl-6{
    background-image: url(./img/portafolio.png);
}

.content-link-ptd-ccd{
    
    width: 100%;
    height: 100%;
}

.content-link-ptd-ccd a{
    background-color: #1cb697c1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: var(--texto-blanco);
    font-size: 1.3rem;
    opacity: 0;
    transition: all ease-in-out .5s;
}

.content-link-ptd-ccd a h3{
    padding-bottom: 2rem;
    transition: all ease-in-out 0.5s;
}

.content-link-ptd-ccd a:hover h3{
    padding-bottom: 0;
}

.content-link-ptd-ccd a:hover{
    opacity: 1;
}



